<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/employees/create">Create new employee</a>
<h1>Employees</h1>
<table border="1">
    <tr>
        <th>Employee Code</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Branch</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.code}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.branch}"></td>
            <td><a th:href="@{/employees/update/__${employee.id}__ }">Update</a></td>
            <td><a th:href="@{/employees/delete/__${employee.id}__ }">Delete</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>